












<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .pass_show{position: relative} 

        .pass_show .ptxt { 

            position: absolute; 

            top: 50%; 

            right: 10px; 

            z-index: 1; 

            color: #f36c01; 

            margin-top: -10px; 

            cursor: pointer; 

            transition: .3s ease all; 
            
            } 
            
            .pass_show .ptxt:hover{color: #333333;} 
    </style>
</head>



<!------ Include the above in your HEAD tag ---------->
<body>

<div class="container ">
	<div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="col-sm-4">
                {% for fm in form %}
                <label>{{fm.label_tag}}</label>
                <div class="form-group pass_show"> 
                    {{fm}}
                    <small class="text-danger">{{fm.errors}}</small>
                    <br>
                    
                    </div> 
                    {% endfor %} 

                    <button type="submit">Change</button>
                     
                         
                    </div>  
                </div>
            </div>
        </form>
     

</body>
</html>